*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* nav{
    background-color: aquamarine;
} */
.navbar-brand{
    font-size:2em;
    color:black;
    font-family: 'Lobster Two', cursive;
    font-size: 20em; 
}
h1{
    color:rgb(41, 167, 68);
}
.navbar-brand:hover{
    color:black;
}

.nav-item .nav-link{
    margin-right:10px;
    margin-left:1px;
    color: black;
    text-transform: uppercase;
    
}

.nav-item .nav-link:hover{
    color: black;
}



.main{
    background: url("images/welcome.png") no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: 50% 50%;
    width: 100%;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.welcome h1{
    margin-left: 110px;
    margin-top:120px;
    color:white;
    font-family: 'Courgette', cursive;
}


.btn1{
    height: 45px;
    width:35%;
    border:none;
    outline:none;
    background-color:rgb(235, 196, 25);
    font-weight: 700;
    border-radius: 30px;
}

.button{
    margin-left: 110px;
    margin-top:20px;
}
/* 
.button:hover{
    background-color: azure;
    height: 45px;
    width:35%;
    display: block;
    border-radius: 30px;
} */


.content{
    box-shadow: -1px -4px 22px 3px rgba(218, 211, 211, 0.75);
}

.footer{
    width:100%;
    height:50%;
    margin-top: 5em;
    text-align: center;
    background-color: rgb(134, 134, 134);
    
    
}

.span12{
    
    color: white;
    font-family:'Lobster Two', cursive; ;
    font-size: 1px;
    padding-left: 0px;

}

h6{
    padding-top:2em;
    font-family: 'Courgette', cursive;
    color: white;
    font-size: 15px;

}

.socialmedia a i{
    color: rgb(0, 255, 255);
}


.item h3{
    color:rgb(25, 25, 134);
    font-size:x-large;
}

.item h4{
    color:rgb(14, 14, 17);
    font-size:small;
}

.item, .item a{
    text-align: center; 
    text-decoration: none; 
    padding-top:.02em;background-color: rgb(249, 252, 255);
    border-radius: 10px;
    width:200px;
    height:210px;
    margin:20em;
    box-shadow: 1px 2px 18px -2px rgba(74,181,230,1);

}

.item img{
    height: 140px;
}


/* alappuzha */
/*----  Main Style  ----*/
#cards_landscape_wrap-2{
    text-align: center;
    background: #F7F7F7;
  }
  #cards_landscape_wrap-2 .container{
    padding-top: 80px; 
    padding-bottom: 100px;
  }
  #cards_landscape_wrap-2 a{
    text-decoration: none;
    outline: none;
  }
  #cards_landscape_wrap-2 .card-flyer {
    border-radius: 5px;
  }
  #cards_landscape_wrap-2 .card-flyer .image-box{
    background: #ffffff;
    overflow: hidden;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.50);
    border-radius: 5px;
  }
  #cards_landscape_wrap-2 .card-flyer .image-box img{
    -webkit-transition:all .9s ease; 
    -moz-transition:all .9s ease; 
    -o-transition:all .9s ease;
    -ms-transition:all .9s ease; 
    width: 100%;
    height: 200px;
  }
  #cards_landscape_wrap-2 .card-flyer:hover .image-box img{
    opacity: 0.7;
    -webkit-transform:scale(1.15);
    -moz-transform:scale(1.15);
    -ms-transform:scale(1.15);
    -o-transform:scale(1.15);
    transform:scale(1.15);
  }
  #cards_landscape_wrap-2 .card-flyer .text-box{
    text-align: center;
  }
  #cards_landscape_wrap-2 .card-flyer .text-box .text-container{
    padding: 30px 18px;
  }
  #cards_landscape_wrap-2 .card-flyer{
    background: #FFFFFF;
    margin-top: 50px;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.40);
  }
  #cards_landscape_wrap-2 .card-flyer:hover{
    background: #fff;
    box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    margin-top: 50px;
  }
  #cards_landscape_wrap-2 .card-flyer .text-box p{
    margin-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px; 
    font-size: 14px;
    letter-spacing: 1px;
    color: #000000;
  }
  #cards_landscape_wrap-2 .card-flyer .text-box h6{
    margin-top: 0px;
    margin-bottom: 4px; 
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Roboto Black', sans-serif;
    letter-spacing: 1px;
    color: #00acc1;
  }

  